body {
	font-family: "Lato";
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: #e5e5e5;
	padding: 10px 15px;
	margin-bottom: 30px;
}

img {
	display: block;
}

.logo {
	width: 100%;
}

h1 {
	font-size: 28px;
	font-weight: 900;
	line-height: 1;
	padding-bottom: 10px;
	border-bottom: 2px solid #e5e5e5;
	text-align: center;
	letter-spacing: -1px;
	margin-top: 80px;
	margin-bottom: 30px;
}

h2 {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 10px;
}

.content {
	margin: 0 15px;
}

.navigation {
	background-color: #ddd;
	padding: 20px;
}

.btn {
	border-radius: 7px;
	font-weight: bold;
	color: #fff;
	background-color: #0173b6;
	border-color: #01639d;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.result {
	background: #e5e5e5;
	padding: 20px;
	margin-bottom: 15px;
}

.result p {
	font-size: 14px;
	margin-bottom: 10px;
}
